USE [master]
GO
/****** Object:  Database [DraftRMS]    Script Date: 14.04.2017 12:19:25 ******/
CREATE DATABASE [DraftRMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DraftRMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\DraftRMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DraftRMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\DraftRMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DraftRMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DraftRMS]
GO
USE [DraftRMS]
GO
/****** Object:  Table [dbo].[Link]    Script Date: 14.04.2017 12:19:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Link](
	[Target] [int] NOT NULL,
	[Source] [nchar](500) NULL,
	[TypeId] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LinkType]    Script Date: 14.04.2017 12:19:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LinkType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Caption] [nvarchar](50) NULL,
 CONSTRAINT [PK_LinkType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ReqGroup]    Script Date: 14.04.2017 12:19:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReqGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Caption] [nvarchar](100) NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Requirement]    Script Date: 14.04.2017 12:19:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requirement](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RawText] [nvarchar](max) NULL,
	[TypeId] [int] NOT NULL,
	[Priority] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[GroupId] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[ElicitationDate] [datetime] NOT NULL,
	[ChangeRequestLink] [nvarchar](500) NULL,
 CONSTRAINT [PK_Requirement] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RequirementStakeholder]    Script Date: 14.04.2017 12:19:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequirementStakeholder](
	[RequirementId] [int] NOT NULL,
	[StakehodlerId] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RequirementStatus]    Script Date: 14.04.2017 12:19:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequirementStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Caption] [nvarchar](30) NULL,
 CONSTRAINT [PK_RequirementStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RequirementType]    Script Date: 14.04.2017 12:19:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequirementType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Caption] [nvarchar](30) NULL,
 CONSTRAINT [PK_RequirementType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Stakeholder]    Script Date: 14.04.2017 12:19:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stakeholder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PersonName] [nvarchar](100) NULL,
 CONSTRAINT [PK_Stakeholder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Requirement] ADD  CONSTRAINT [DF_Requirement_Priority]  DEFAULT ((0)) FOR [Priority]
GO
ALTER TABLE [dbo].[Link]  WITH CHECK ADD  CONSTRAINT [FK_Link_LinkType] FOREIGN KEY([TypeId])
REFERENCES [dbo].[LinkType] ([Id])
GO
ALTER TABLE [dbo].[Link] CHECK CONSTRAINT [FK_Link_LinkType]
GO
ALTER TABLE [dbo].[Link]  WITH CHECK ADD  CONSTRAINT [FK_Link_Requirement] FOREIGN KEY([Target])
REFERENCES [dbo].[Requirement] ([Id])
GO
ALTER TABLE [dbo].[Link] CHECK CONSTRAINT [FK_Link_Requirement]
GO
ALTER TABLE [dbo].[Requirement]  WITH CHECK ADD  CONSTRAINT [FK_Requirement_Group] FOREIGN KEY([GroupId])
REFERENCES [dbo].[ReqGroup] ([Id])
GO
ALTER TABLE [dbo].[Requirement] CHECK CONSTRAINT [FK_Requirement_Group]
GO
ALTER TABLE [dbo].[Requirement]  WITH CHECK ADD  CONSTRAINT [FK_Requirement_RequirementStatus] FOREIGN KEY([StatusId])
REFERENCES [dbo].[RequirementStatus] ([Id])
GO
ALTER TABLE [dbo].[Requirement] CHECK CONSTRAINT [FK_Requirement_RequirementStatus]
GO
ALTER TABLE [dbo].[Requirement]  WITH CHECK ADD  CONSTRAINT [FK_Requirement_RequirementType] FOREIGN KEY([TypeId])
REFERENCES [dbo].[RequirementType] ([Id])
GO
ALTER TABLE [dbo].[Requirement] CHECK CONSTRAINT [FK_Requirement_RequirementType]
GO
ALTER TABLE [dbo].[RequirementStakeholder]  WITH CHECK ADD  CONSTRAINT [FK_RequirementStakeholder_Requirement] FOREIGN KEY([RequirementId])
REFERENCES [dbo].[Requirement] ([Id])
GO
ALTER TABLE [dbo].[RequirementStakeholder] CHECK CONSTRAINT [FK_RequirementStakeholder_Requirement]
GO
ALTER TABLE [dbo].[RequirementStakeholder]  WITH CHECK ADD  CONSTRAINT [FK_RequirementStakeholder_Stakeholder] FOREIGN KEY([StakehodlerId])
REFERENCES [dbo].[Stakeholder] ([Id])
GO
ALTER TABLE [dbo].[RequirementStakeholder] CHECK CONSTRAINT [FK_RequirementStakeholder_Stakeholder]
GO
USE [master]
GO
